<header class='header'>
 <div class='fixed-container'>
    <div class='content-container'>
        <div class='flex-container--space-between flex-container--align-bottom'>
            <div class='logo-wrap'>
                <a href="/">
                    <img src='./images/logo-header.png' class='logo-img logo-header'/>
                </a>
            </div>
                <nav class='nav'>
                    <div class='flex-container--space-between flex-container--align-center'>
                        <ul class='nav__menu-list'>
                            <li class='nav__menu-item active'><a class='nav__menu-link' href="/">Start here</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="/mystory">My story</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="/blog">Blog</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="/learn">Learn</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="/services">Services</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="/connect">Connect</a></li>
                        </ul>
                        <ul class="nav__social-list">
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='/images/twitter.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='/images/facebook.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='/images/instagram.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='/images/pinterest.png'/></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>