<header class='header'>
    <div class='content-container'>
        <div class='fixed-container'>
        <div class='flex-container--space-between flex-container--align-bottom'>
            <div class='logo-wrap'>
                <a href="/">
                    <h1 class='h1 h1--logo'>Ellen <span>Marshal</span></h1>
                </a>
            </div>
                <nav class='nav'>
                    <div class='flex-container--space-between flex-container--align-bottom'>
                        <ul class='nav__menu-list'>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">Start here</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">My story</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">Blog</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">Learn</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">Services</a></li>
                            <li class='nav__menu-item'><a class='nav__menu-link' href="#">Connect</a></li>
                        </ul>
                        <ul class="nav__social-list">
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='./images/twitter.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='./images/facebook.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='./images/instagram.png'/></a></li>
                            <li class='nav__social-item'><a class='nav__menu-link' href="#"><img class='nav__social-img' src='./images/pinterest.png'/></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>