{% extends "layouts/default.html" %}




{% macro blogPost(post) %}
<div class="post-box" data-ks-editable="editable(user, { list: " Post ", id: post.id })">
	{% if post.image.exists %}
		<img src="{{ post._.image.fit(500,350) }}" class="img pull-right">
	{% endif %}
	<div class='text-wrap'>
	<h6>
		<a href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
	</h6>

	{% if post.content.extended %}
		<p class="read-more">
			<a href="/blog/post/{{ post.slug }}">Read more</a>
		</p>
	{% endif %}
	</div>
</div>
{% endmacro %}







{% block content %}


<div class='blog-page'>
	<section class='section-hero'>
	<div class='content-container'>
			<div class='text-wrap'>
			<h1>My blog</h1>
			<p>In my blog I share my insights, tips and lessons I have learned from travelling the world over 4 years and being a passionate entrepreneur for the past 2 years. I have failed, made countless mistakes, and did over 1 million dollars in sales in my first year online. </p>
<p>My mission now is to cultivate passion and mentor the next generation of leaders. Just remember, reading my articles won’t automatically turn you into a bona fide superstar. You have to grind everyday to reach your full potential. Use these life lessons to help motivate you to create the life of your dreams.</p>
<h6>If you really think you have what it takes, contact me and let’s work together. </h6> 
</div>
		</div>
	</section>


	<section class='section-blog'>

		<div class='wide-content-container'>
			<div class='categories-wrap'>
			{% if data.categories.length %}
	
	
				<div class='flex-container--justify-center '>
					{% set class = ( "active" if not data.category else "" ) %}
					<h6><a href="/blog" class="{{ class }} category-link">All</a></h6>
					{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
						<h6><a href="/blog/{{ cat.key }}" class="{{ class }} category-link">{{ cat.name }}</a></h6>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	


			{% if filters.category and not data.category %}
				<h3 class="text-muted">Invalid Category.</h3>
			{% else %}
				{% if data.posts.results.length %}

	

					<div class="blog-wrap">
						<div class='flex-container--space-between flex-container--wrap'>
						{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
					</div>
					</div>
					{% if data.posts.totalPages > 1 %}
						<ul class="pagination">
							
							{% if data.posts.previous %}
								<li>
									<a href="?page={{ data.posts.previous }}">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page=1">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% endif %}

							{% for p in data.posts.pages %} {% set class = ( "active" if data.posts.currentPage == p else "" ) %}
								<li class="{{ class }}">
									{% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
									<a href="?page={{ page }}">{{ p }}</a>
								</li>
							{% endfor %}

							{% if data.posts.next %}
								<li>
									<a href="?page={{ data.posts.next }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page={{ data.posts.totalPages }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% endif %}

						</ul>
					{% endif %}
				{% else %}
					{% if data.category %}
						<div class='no-post-text-wrap'>
						<p >There are no posts in the category {{ data.category.name }}.</p>
						</div>
					{% else %}
					<div class='no-post-text-wrap'>
						<p>There are no posts yet.</p>
						</div>
					{% endif %}
				{% endif %}
			{% endif %}

		</div>
	</section>
</div>




{% endblock %}
