{% extends "layouts/default.html" %}



{% block content %}
<div class='connect-page'>
	<section class='section-hero'>
	<div class='content-container'>
		<h1>I love hearing<br/>from you!</h1>
	</div>
	</section>
	<section class='connect'>
		<div class='content-container'>
			<div class='flex-container'>
					<div class='grid-65'>
						<div class='text-wrap'>
						<h6>I love hearing from you!</h6>
						<p>The past few years of travelling and working on growing my business has taught me how important it is to connect.</p> 
<p>Connect with you! </p>
<p>Networking and getting to know other individuals with the same ambition and mindset is key. The key to elevate your mission. I’d love to hear from you! </p>
<p>My mission is focused on how I can translate what I’ve learned to help you. </p>
<p>If you have a question for me, a business idea you want to share, a request to be on Video Chat with me [one-on-one mentorship], or a general comment, please message me via either of my social platforms listed below. </p>
<p>You’ll make me smile by leaving me a review on my facebook page if I have ever impacted your life in any way.</p>
<p>Cheers to your freedom,</p>
<p>XoXo Ellen</p>
</div>
					</div>
					<div class='grid-35'>
					 <div class='connect-portrait'>
					 	<a href='/mystory' class='btn--filled'>My story</a>
					 </div>
					 					 <div class='connect-socials'>
					 	<ul class="connect__social-list">
                            <li class='connect__social-item'><a class='connect__menu-link' href="#"><img class='connect__social-img' src='/images/twitter.png'/></a></li>
                            <li class='connect__social-item'><a class='connect__menu-link' href="#"><img class='connect__social-img' src='/images/facebook.png'/></a></li>
                            <li class='connect__social-item'><a class='connect__menu-link' href="#"><img class='connect__social-img' src='/images/instagram.png'/></a></li>
                            <li class='connect__social-item'><a class='connect__menu-link' href="#"><img class='connect__social-img' src='/images/pinterest.png'/></a></li>
                        </ul>
					 </div>
					 <div class='connect-post'>
					 	<h6><span class='primary-color'>Must read:</span></h6>
						 <h6>How I made 1 million dollars in my first year</h6>
					 </div>

					 <div class='connect-locations'>
					 	<h6>Upcoming<br/>locations:</h6>
						 <div class='single-location'>
						 	<div class='flex-container'>
							 	<h4>JAN<br/>19</h4>
								 <p>Bali, name of exact location</p>
							 </div>
						 </div>
						 						 <div class='single-location'>
						 	<div class='flex-container'>
							 	<h4>JAN<br/>19</h4>
								 <p>Bali, name of exact location</p>
							 </div>
						 </div>
						 						 <div class='single-location'>
						 	<div class='flex-container'>
							 	<h4>JAN<br/>19</h4>
								 <p>Bali, name of exact location</p>
							 </div>
						 </div>
						 <h6>Meet me around<br/>the world</h6>
					 </div>
					</div>
					</div>
		</div>
	</section>
</div>

{% endblock %}
