{% extends "layouts/default.html" %}

{% block content %}

    <div class='faq-page'>
    	<section class='section-hero'>
	<div class='content-container'>
            <h1>Frequently asked questions</h1>
		</div>
	</section>
    <section class='faq-quote'>
    	<div class='content-container'>
        <h6>Figure out what gets you excited, then find<br/>a way to do that for the rest of your life!'</h6>
        <h6>- Ellen Marshal </h6>
        		</div>
    </section>
    <section class='questions'>
    <div class='content-container'>
        <div class='flex-container'>
        <div class='grid-65'>
        <div class="faq-categories">
        <div class='flex-container'>
  <h6 class='category active' data-category='business'>Business</h6>
  <h6  class='category' data-category='travel'>Travel</h6>
  <h6 class='category' data-category='lifestyle'>Lifestyle</h6>
</div>
</div>
<div class='faq-harmony'>
                <div id="business" class="faq-category active">

    <div class='single-question active'>
        <div class='title-wrap'>
            <p>What kind of books do you recommend?</p>
        </div>
        <div class='text-wrap'>
        <p>WOW okay, that’s a tough question to answer. I am personally not a big fan of reading. Though, I love educating myself and learning new things and over the past few years I learned from mentors how important it is to read. So I found a little hack. Instead of reading a book a day, which would take me quite a few hours, I started listening to blinkists. This is a tool I use that has over 2500+ books available. The blinkist team reads books, pulls out the key insights, and explains them in an easy-to-digest, 15 minute book summary. This way I learn the biggest takeaways from a specific book while having breakfast in the morning. To use this tool you pay $79.00 a year but you can do a 7 day FREE trial here: <a href='http://blinki.st/6367654506db' target='_blank'>http://blinki.st/6367654506db</a></p>
        <p>My must reads for someone starting out in the business world are: </p>
        <ul>
            <li>Think and grow rich, and cashflow quadrant by Robert Kiyosaki, </li>
            <li>The four hour work week by Tim Ferris, </li>
            <li>10X Rule by Grant Cardone, </li>
            <li>Influence by Robert Cialdini. </li>
        </ul>
    






        </div>
        
    </div>
        <div class='single-question '>
        <div class='title-wrap'>
            <p>Did people support you when you first started your business?</p>
        </div>
        <div class='text-wrap'>
        <p>No, most people around me didn’t support me! It sounded like a crazy idea to my friends and family that I wanted to start my own business. It definitely wasn’t easy in the beginning. But on the other hand, them not supporting me really gave me the drive to just make it happen. I told everyone that I was going to make it, so I basically didn’t have another option than to succeed!</p>

        </div>
        
    </div>
        <div class='single-question'>
        <div class='title-wrap'>
            <p>How can I work remotely?</p>
        </div>
        <div class='text-wrap'>
        <p>There are multiple different ways to work remotely. </p>
 <p>First you have to make sure you have access to a laptop, a phone and a wifi connection. Plus ofcourse a way to make create an income. </p>
  <p>There are two options, you can either go down the path of doing freelance work. Figure out what your skills are and what you love doing. Create a profile on one of the many freelancing websites, such as upwork.com and start getting paid for your services. </p>
   <p>Or you can go down the path of creating your own online business. The best way would be to go in the direction of marketing. You can learn more about the different options in my blogs. </p>

        </div>
        
    </div>
        <div class='single-question'>
        <div class='title-wrap'>
            <p>How did you learn to work online?</p>
        </div>
        <div class='text-wrap'>
        <p>I invested $15.000 in a mentor… that’s how it all started for me. </p>
         <p>I struggled for months to figure things out on my own. I was getting so overwhelmed by the amount of information on the internet, I just had no clue where or how to start. </p>
          <p>At one point I was watching a video from an influencer that gave the following advice; ‘study what successful people do, and follow in their footsteps.’ </p>
           <p>That just clicked for me. From that moment I started looking for people that were living the life I desired. And that is how I connected with my first mentor, via instagram. He was travelling the world non-stop, while making an income from his laptop. </p>
            <p>I asked him for some tips. And only a couple days later I transferred $15.000 and I flew out to Bali, for an in-person mentorship. I lived with him for 3 months and that was the start of my online journey… </p>
     

        </div>
        
    </div>
        <div class='single-question'>
        <div class='title-wrap'>
            <p>What’s the biggest lesson you have learned from mentors?</p>
        </div>
        <div class='text-wrap'>
        <p>I have learned so many lessons over the past years, but the biggest take away I have gotten from mentors is the value in building and investing in meaningful relationships with powerful people. Relationship capital turns into financial capital. That’s been a game changer for me! </p>
        </div>
        
    </div>
        <div class='single-question'>
        <div class='title-wrap'>
            <p>What’s the one thing you wish you had learned sooner?</p>
        </div>
        <div class='text-wrap'>
        <p>Hmm.. I have a whole list of things I wish I had learned sooner. </p>
<p>Business wise? I wish someone had taught me at a much younger age that it was an option to start your own business. I never learned that it was an option to work for myself. </p>
<p>Even though my parents always worked for themselves, teachers in school always focused so much on ways to fit into the system so it had never crossed my mind to think outside to box. </p>
<p>I found out after a couple of years working normal jobs, that it just wasn’t for me… I believe that everything happens for a reason, so I am happy with the ways things have played out in my life. </p>
<p>But I cannot imagine where I would be in life right now if I had known the endless possibilities of the internet straight out of high school. </p>

        </div>
        
    </div>
        <div class='single-question'>
        <div class='title-wrap'>
            <p>What are the biggest mistakes made by starting entrepreneurs in your opinion?</p>
        </div>
        <div class='text-wrap'>
        <p>My personal biggest mistake was not asking other entrepreneurs for help. </p>
        <p>I don’t know whether I was scared to ask for help, or if I just didn’t know that there would be people out there who would willing to help me. </p>
        <p>I guess I thought I had to do it all on my own. But honestly.. if I would have done it all on my own, I am confident that I wouldn’t be where I am right now in life and business. </p>
        <p>I believe that working together with the right people is crucial to see success in your business.</p>
        <p>Don’t try and reinvent the wheel! Others have already cleared the path before you. Just follow their path. Find your own paths of least resistance. </p>
        </div>
        
    </div>


















                </div>


                <div id="travel" class="faq-category">

                        <div class='single-question'>
        <div class='title-wrap'>
            <p>How can you travel full-time? </p>
        </div>
        <div class='text-wrap'>
        <p>I don’t really consider myself a full-time traveller. I am more of a life-liver. I usually spend a few months in each country. I love being able to really explore a place rather than just seeing it for a few weeks to be able to tick it of the list. For the first two years of my travels I found jobs in different places around the world, so I could keep adding money to my bank account while travelling. But in 2016 I decided to start working online. I have my own online business that allows me to work from anywhere in the world. It’s what has given me complete freedom to live my life the way I want to. And now I am ready to show the world that if I can do it, you can do it too! </p>
        </div>
        
    </div>


                        <div class='single-question'>
        <div class='title-wrap'>
            <p>How do you do that with the visas?</p>
        </div>
        <div class='text-wrap'>
        <p>I am mainly just travelling on tourist visas, they are usually long enough for me before I am ready to move on to the next location. That way I don’t have to worry about arranging long term working visas in different countries. I just stay up to the limit and then move on or I do a so called visa run. A visa run basically means leaving the country for a day to then return on a new tourist visa. This is very easy in Asia. </p>
        </div>
        
    </div>


                            <div class='single-question'>
        <div class='title-wrap'>
            <p>How long do you stay in each place usually? </p>
        </div>
        <div class='text-wrap'>
        <p>I usually stay a minimum of 3 months in each place. That way I can experience it a lot more than just passing through a country to be able to say that I have seen it. That’s not me. I like taking my time, especially since I can! </p>
        <p>Also, after 4 years of travelling, I am now at a different stage in my life, where I also want to grow myself, my business, and help others along the way, and for that I need of a bit of a routine. For me 3 months is the perfect time to really experience a place, and have the right work-life balance. </p>
        </div>
        
    </div>





                            <div class='single-question'>
        <div class='title-wrap'>
            <p>How do you find places to stay?</p>
        </div>
        <div class='text-wrap'>
        <p>I usually just fly out, with my first one or two nights booked. That gives me some time to make some connections, ask around in the area and find a great long term place in the destinartion. I find it more affordable to arrange it via a local real estate agent than via international websites like airbnb. </p>
        </div>
        
    </div>

                            <div class='single-question'>
        <div class='title-wrap'>
            <p>Did you ever travel by yourself?</p>
        </div>
        <div class='text-wrap'>
        <p>I did, but not for a very long time. </p>
         <p>The very first trip I took, was together with a good friend. I was 21 yrs old and I guess a little too scared to go on my own to South Africa. And honestly.. I think my parents would not have let me! </p>
          <p>One year later I was planning my trip to Australia.. when my sister started getting quite jealous hearing me talk about my big dreams. It didn’t take much convincing to get her to join me on a sister-trip for a year. </p>
           <p>When she left australia, I stayed behind. And that was the first time I was by myself in Australia. A few months later I also took a two week trip to Fiji..on my own... and that’s all I ever travelled by myself because that’s when Connor came in the picture. I have been travelling together with him ever since that one day he walked into my hostel dorm room. </p>

        </div>
        
    </div>




                            <div class='single-question'>
        <div class='title-wrap'>
            <p>Do you ever get lonely?</p>
        </div>
        <div class='text-wrap'>
        <p>No I never really feel lonely, even though my family is far away, I always have amazing people around me. There has been only one day.. out of over 1500 days on the road that I have felt lonely.</p>
        <p>The first day I arrived in Fiji I felt lonely, I just didn’t want to be there! </p>
        <p>Arriving at the airport was already a nightmare. I was waiting by myself for two hours before someone picked me up.. getting dropped off in a hostel where I didn’t know anybody. It felt weird. I love meeting new people but that one specific day I guess I just wasn’t in the mood to connect with other travellers. </p>
        <p>I left to Fiji just a few weeks after I had met Connor in Sydney, so at that moment all I really wanted was being back in Sydney with him. </p>
        </div>
        
    </div>


                            <div class='single-question'>
        <div class='title-wrap'>
            <p>Do you stay in hostels?</p>
        </div>
        <div class='text-wrap'>
        <p>Not anymore now I have a partner, but I used to stay in hostels all the time and I loved it. I think it’s the best and easiest way to connect with new people. The longest I have stayed in one specific hostel is 8 months...yes you read that right.. for 8 months at a time I was living in the same room with 7 other people. Room 701.. I will never forget! </p>
         <p>Usually when backpackers find jobs in Australia they end up looking for an apartment. But I ended up living in the ‘wake up’ hostel in Sydney.. I didn’t want to leave anymore. My roommates literally became my family. Everybody stayed for months because nobody wanted to miss out on the good vibes in that room. We even had a waiting list at one point for people that wanted to get the next available bed in the room.</p>
        </div>
        
    </div>


                                <div class='single-question'>
        <div class='title-wrap'>
            <p>What are your favourite places in the world so far?</p>
        </div>
        <div class='text-wrap'>
        <p>Such a tough question! </p>
        <p>I have had so many amazing experiences over the past few years. But so far the places that are most appealing to me are Croatia, in Europa.. and Bali, in Indonesia. </p>
        <p>I just love the tropical vibes in Bali, the island life, the daily coconut delivery, being able to just walk down to the beach and experience the sunset with friends. That’s the goodlife to me. Plus, the food in Bali is mind-blowing! Seriously, so healthy and so good! </p>
        <p>Besides Bali, I fell in love with Croatia, I never thought I would be a person to enjoy the yacht life, with the waves that get me seasick.. But WOW, croatia has blown my mind. The water is so crystal clear, the architecture is amazing, the islands are just beautiful and the locals would do anything for you. </p>
        </div>
        
    </div>

                            <div class='single-question'>
        <div class='title-wrap'>
            <p>How did you find jobs while travelling?</p>
        </div>
        <div class='text-wrap'>
        <p>Every single job I managed to get while travelling was through connections. In my opinion a successful job search is all about networking.  </p>
        <p>I always connected with the locals and talked to other travellers when I was looking for work. That way you can easily find out if someone else is leaving their job because of visa expirations, that’s your chance to take it over. </p>
        </div>
        
    </div>




                </div>

                <div id="lifestyle" class="faq-category" >
                                            <div class='single-question'>
        <div class='title-wrap'>
            <p>What did you do for work before you started working online?</p>
        </div>
        <div class='text-wrap'>
        <p>Before I started travelling I used to work all sorts of jobs, I was never made for a 9-5… so I mostly worked shifts at the airport or in hospitality. </p>
        <p>When I started travelling in Australia I managed to get a job downtown Sydney as a travel agent. That was my dream job.. I thought. But after 1,5 years of having an absolute blast there.. every day was the same. I loved the fact that I was helping people every day by planning and arranging their dreamtrips around the world. But after all, I was still the one stuck in an office 5 days a week. I wanted the freedom to travel myself. So I transitioned into a different lifestyle and created an income around it. Now I can still help others and make an impact in people’s lives. </p>
        <p>But this time, WHILE living my own dream life as well. </p>
        <p>The perfect combination for me. </p>
        </div>
        
    </div>

                                                <div class='single-question'>
        <div class='title-wrap'>
            <p>What does a day in your life look like?</p>
        </div>
        <div class='text-wrap'>
        <p>I usually wake up pretty early, depending on where in the world I am. </p>
        <p>In tropical places I love starting the day early, whereas in cold snowy places where it’s dark in the morning it’s a lot harder for me to get out of bed. </p>
        <p>The first 3 hours of the day I work on myself, have a delicious breakfast, do some yoga and stretching and listen to audiobooks. After that I usually dive into some work to make sure my business is growing every single day. </p>
        <p>I love great food and since I am not the biggest fan of cooking myself, I usually go to a cafe for lunch, I often plan my lunches together with meetings with clients, or students to optimize my time. Depending on where in the world I am, I enjoy my afternoon at the beach, spend the day exploring or just chill out and spend time together with my boyfriend. </p>
        <p>In the evenings I sometimes have calls, either with my mentors or with my own students. Spread throughout the day I spend some time on social media and writing content to keep you guys all posted on my journey. </p>
        <p>Of course days are always different for me, it varies on the month, the season and where in the world I am. I don’t like locking myself into any sort of specific schedule, that way I allow myself to be open for new opportunities. </p>
        </div>
        
    </div>

                                                <div class='single-question'>
        <div class='title-wrap'>
            <p>Do you ever want to settle down? </p>
        </div>
        <div class='text-wrap'>
        <p>At the moment I can’t picture myself living in one place yet. Potentially down the road I would like to live in a different country for a year at a time. Or who knows.. maybe I’ll settle down one day… </p>
        </div>
        
    </div>

                                                <div class='single-question'>
        <div class='title-wrap'>
            <p>If you would have to live somewhere, which country would you pick?</p>
        </div>
        <div class='text-wrap'>
        <p>There are a few places in the world I absolutely love. My vision for my future is to own a few houses in different places. So far I would like to have a place in California, The mountains in Canada, on one of the islands in Indonesia and a boat in Croatia. That would be my ideal situation. </p>
        </div>
        
    </div>

                                                <div class='single-question'>
        <div class='title-wrap'>
            <p>How do I spend so much time together with my boyfriend? </p>
        </div>
        <div class='text-wrap'>
        <p>It’s a funny question that I get asked all the time, because I literally spend 24/7 with him. </p>
        <p>From the moment we met in Australia.. we decided that spending time together was our ultimate goal! </p>
        <p>Especially since Connor is Canadian and I am dutch.. we had absolutely no clue HOW we were going to make it work, but we believed there was a way. It was our goal to have the freedom to spend our days together!</p>
        <p>The thing that keeps us going is being confident in who we are, and knowing that we don’t need each other. We don’t depend on one another and I think that makes or breaks a relationship. 
It just means that whatever dream or goal we want to achieve, we now have a team of two people. We support each other every minute of each day. It’s the secret to how we got to where we are now! </p>
        </div>
        
    </div>

                </div>
</div>

        </div>
          <div class='grid-35'>
          <div class="post-box">

		<img src="">

	<div class='text-wrap'>
	<h6>
		<a href="#">Lorem ipsum</a>
	</h6>

		<p class="read-more">
			<a href="#">Read more</a>
		</p>

	</div>
</div>
</div>
          </div>
          </div>
    </section>
{% endblock %}