{% extends "layouts/default.html" %}

{% block content %}

    <div class='faq-page'>
    	<section class='section-hero'>
	<div class='content-container'>
            <h1>Frequently asked questions</h1>
		</div>
	</section>
    <section class='faq-quote'>
    	<div class='content-container'>
        <h6>Figure out what gets you excited, then find<br/>a way to do that for the rest of your life!'</h6>
        <h6>- Ellen Marshal </h6>
        		</div>
    </section>
    <section class='questions'>
    <div class='content-container'>
        <div class='flex-container'>
        <div class='grid-65'>
        <div class="faq-categories">
        <div class='flex-container'>
  <h6 class='category active' data-category='business'>Business</h6>
  <h6  class='category' data-category='travel'>Travel</h6>
  <h6 class='category' data-category='lifestyle'>Lifestyle</h6>
</div>
</div>
<div class='faq-harmony'>
                <div id="business" class="faq-category active">

    <div class='single-question'>
        <div class='title-wrap'>
            <p>How can you travel full-time? How do you do that with the visas?</p>
        </div>
        <div class='text-wrap'>
        <p>Nam sed feugiat diam, vel egestas est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent dapibus pretium risus, nec consectetur eros convallis id. Pellentesque dui nulla, tristique eu massa ut, vulputate suscipit ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet eleifend dolor, ut imperdiet nisl molestie eu. Donec sodales condimentum sagittis. Duis gravida molestie dui, sed sodales lacus tincidunt id. Fusce aliquam urna tortor. Donec porta augue ac porta egestas. Etiam ac lorem imperdiet, lacinia est ac, scelerisque ex. Praesent et elementum felis, ac scelerisque neque.</p>

        </div>
        
    </div>





    <div class='single-question active'>
        <div class='title-wrap'>
            <p>How did you find jobs while travelling?</p>
        </div>
        <div class='text-wrap'>
        <p>Every single job I managed to get while travelling was through connections.In my opinion a successful job search is all about networking.  </p>
<p>I always connected with the locals and talked to other travellers when I was looking for work. That way you can easily find out if someone else is leaving their job because of visa restrictions, that’s your chance to take it over. </p>

        </div>
        
    </div>



                </div>


                <div id="travel" class="faq-category">

                </div>

                <div id="lifestyle" class="faq-category" >

                </div>
</div>

        </div>
          <div class='grid-35'>
          <div class="post-box">

		<img src="">

	<div class='text-wrap'>
	<h6>
		<a href="#">Lorem ipsum</a>
	</h6>

		<p class="read-more">
			<a href="#">Read more</a>
		</p>

	</div>
</div>
</div>
          </div>
          </div>
    </section>
{% endblock %}