{% extends "layouts/default.html" %}


{% macro blogPost(post) %}
<div class="post-box" data-ks-editable="editable(user, { list: " Post ", id: post.id })">
	{% if post.image.exists %}
		<img src="{{ post._.image.fit(500,350) }}" class="img pull-right">
	{% endif %}
	<div class='text-wrap'>
	<h6>
		<a href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
	</h6>

	{% if post.content.extended %}
		<p class="read-more">
			<a href="/blog/post/{{ post.slug }}">Read more</a>
		</p>
	{% endif %}
	</div>
</div>
{% endmacro %}



{% block content %}

<div class='home-page'>

	<section class='section-hero'>

			<div class='hero-slider'>
				<div class='slide slide-1 active'>
					<img src='/images/home-hero-1.png' class='hero-img'/>
					<img src='/images/hero-text-1.png' class='hero-text'/>
				</div>
				<div class='slide slide-2'>
					<img src='/images/home-hero-2.png' class='hero-img'/>
					<img src='/images/hero-text-2.png' class='hero-text'/>
				</div>
				<div class='slide slide-3'>
					<img src='/images/home-hero-3.png' class='hero-img'/>
					<img src='/images/hero-text-3.png' class='hero-text'/>
		
				</div>
				<div class='slide slide-4'>
					<img src='/images/home-hero-4.png' class='hero-img'/>
					<img src='/images/hero-text-4.png' class='hero-text'/>
				</div>


	</section>

	<section class='section-cta'>
			<div class='content-container'>
				<div class='flex-container--justify-center flex-container--align-center'>
				<div class='text-wrap'>
				<h6>Work and live wherever you want</h6>
				<p>Join the movement now and let me mentor you</p>
				</div>
				<a href='#' target='_blank' class='btn'>Book a free strategy call</a>
			</div>
			</div>
			<div class='flex-container--space-between'>
				<div class='cta-box community'>
					<div class='text-wrap'>
						<h2>Join my<br/>community</h2>
					</div>
					<a href='#' target='_blank' class='btn--filled'>Join</a>
				</div>
				<div class='cta-box mentorship'>
					<div class='text-wrap'>
						<h2>Get<br/>mentorship</h2>
					</div>
					<a href='#' target='_blank' class='btn--filled'>Get it now</a>
				</div>
			</div>
	</section>

<section class='section-blog'>
	<div class="wide-content-container">
		<div class='text-wrap'>
			<h4>Popular blog posts</h4>
		</div>

				{% if data.posts.results.length %}
					<div class="blog-wrap">
						<div class='flex-container--space-between flex-container--wrap'>
						{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
						</div>
						<div class='btn-wrap'>
						<a href='/blog' class='btn'>View all posts</a>
						</div>
					</div>

				{% else %}
					<h3 class="text-muted">There are no posts yet.</h3>
				{% endif %}

	

</div>
	</section>

	<section class='section-quote'>
		<div class='quote-wrap'>
			<blockquote>"If you don't have the travel bug right now, you will have it after you start following Ellen's unique journey around the world. Beautiful pictures, adventurous stories and a great message for everyone; Make your dreams a reality."</blockquote>
		</div>
	</section>

	<section class='section-contact'>
		    <div class='content-container'>
				<div class='contact-box'>
				<div class='flex-container--space-between'>
					<div class='flex-container--align-center'>
						<div class='text-wrap'>
						<h6>Get personal with me!</h6>
						<p>Join me on Facebook or follow my Instagram stories where I share my most personal experiences with you.</p>
						<div class='flex-container--space-between'>
						<a href="https://www.facebook.com/ellen.marshal.94" target='_blank' class='btn'>Facebook</a>
						<a href="https://www.instagram.com/ellenmarshal/" target='_blank' class='btn'>Instagram</a>
						<a href='/mystory' class='btn'>About me</a>
						</div>
						</div>
					</div>
					<img src='./images/contact.png'/>
				</div>
				</div>
			</div>
	</section>

</div>

{% endblock %}
