{% extends "layouts/default.html" %}

{% block content %}



	<section class='section-hero'>
	<div class='content-container'>
			<img src='./images/hero-text-1.png' class='hero-text active'/>
			<img src='./images/hero-text-2.png' class='hero-text'/>
			<img src='./images/hero-text-3.png' class='hero-text'/>
			<img src='./images/hero-text-4.png' class='hero-text'/>
		</div>
	</section>

	<section class='section-cta'>
			<div class='content-container'>
				<div class='flex-container--justify-center flex-container--align-center'>
				<div class='text-wrap'>
				<h6>Work and live wherever you want</h6>
				<p>Join the movement now and let me mentor you</p>
				</div>
				<a href='#' target='_blank' class='btn'>Book a free strategy call</a>
			</div>
			</div>
			<div class='flex-container--space-between'>
				<div class='cta-box community'>
					<div class='text-wrap'>
						<h2>Join my<br/>community</h2>
					</div>
					<a href='#' target='_blank' class='btn--filled'>Join</a>
				</div>
				<div class='cta-box mentorship'>
					<div class='text-wrap'>
						<h2>Get<br/>mentorship</h2>
					</div>
					<a href='#' target='_blank' class='btn--filled'>Get it now</a>
				</div>
			</div>
	</section>

	<section class='section-blog'>

	</section>

	<section class='section-quote'>
		<div class='quote-wrap'>
			<blockquote>"If you don't have the travel bug right now, you will have it after you start following Ellen's unique journey around the world. Beautiful pictures, adventurous stories and a great message for everyone; Make your dreams a reality."</blockquote>
		</div>
	</section>

	<section class='section-contact'>
		    <div class='content-container'>
				<div class='contact-box'>
				<div class='flex-container--space-between'>
					<div class='flex-container--align-center'>
						<div class='text-wrap'>
						<h6>Get personal with me!</h6>
						<p>Join me on Facebook or follow my Instagram stories where I share my most personal experiences with you.</p>
						<div class='flex-container--space-between'>
						<a href='#' target='_blank' class='btn'>Facebook</a>
						<a href='#' target='_blank' class='btn'>Instagram</a>
						<a href='#' target='_blank' class='btn'>About me</a>
						</div>
						</div>
					</div>
					<img src='./images/contact.png'/>
				</div>
				</div>
			</div>
	</section>







{#}
	</section>
	<section class='section'>
{% if enquirySubmitted %}
			<h3>Thanks for getting in touch.</h3>
		{% else %}

					<form method="post">
						<input type="hidden" name="action" value="contact">

						{% set class = ( "has-error" if validationErrors.email else "" ) %}
						<div class="form-group {{ class }}">
							<label>
								<span>Email</span>
								<input type="email" name="email" value="{{ formData.email }}" class="form-control">
							</label>
						</div>




						<div class="form-actions">
							<button type="submit">Send</button>
						</div>
					</form>

		{% endif %}
	</section>


<section class='section'>
{% macro blogPost(post) %}
<div class="post" data-ks-editable="editable(user, { list: " Post ", id: post.id })">
	<h2>
		<a href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
	</h2>
	<p class="lead text-muted">
		<div class='post-date-wrap'>
		{% if post.publishedDate %}
		{{ post._.publishedDate.format("MMMM Do, YYYY") }}
		{% endif %}
		</div>
		<div class='post-categories-wrap'>
		{% if post.categories and post.categories.length %}
	{% for cat in post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < post.categories.length %}, {% endif %}{% endfor %}
		{% endif %}
		</div>
	</p>
	{% if post.image.exists %}
		<img src="{{ post._.image.fit(160,160) }}" class="img pull-right">
	{% endif %}
	<p>{{ post.content.brief|safe }}</p>
	{% if post.content.extended %}
		<p class="read-more">
			<a href="/blog/post/{{ post.slug }}">Czytaj dalej</a>
		</p>
	{% endif %}
</div>
{% endmacro %}

			{% if filters.category and not data.category %}
				<h3 class="text-muted">Invalid Category.</h3>
			{% else %}
				{% if data.posts.results.length %}
					{% if data.posts.totalPages > 1 %}
						<h4 class="text-weight-normal">
							Showing
							<strong>{{ data.posts.first }}</strong>
							to
							<strong>{{ data.posts.last }}</strong>
							of
							<strong>{{ data.posts.total }}</strong>
							posts.
						</h4>
					{% else %}
						<h4 class="text-weight-normal">Showing {{ utils.plural(data.posts.results.length, "* post") }}.</h4>
					{% endif %}
<br/>
					<div class="blog">
						{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
					</div>
					{% if data.posts.totalPages > 1 %}
						<ul class="pagination">
							
							{% if data.posts.previous %}
								<li>
									<a href="?page={{ data.posts.previous }}">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page=1">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% endif %}

							{% for p in data.posts.pages %} {% set class = ( "active" if data.posts.currentPage == p else "" ) %}
								<li class="{{ class }}">
									{% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
									<a href="?page={{ page }}">{{ p }}</a>
								</li>
							{% endfor %}

							{% if data.posts.next %}
								<li>
									<a href="?page={{ data.posts.next }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page={{ data.posts.totalPages }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% endif %}

						</ul>
					{% endif %}
				{% else %}
					{% if data.category %}
						<h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
					{% else %}
						<h3 class="text-muted">There are no posts yet.</h3>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
		{% if data.categories.length %}
			<div class="col-sm-4 col-md-3">
				<h2>Categories</h2>
				<div class="list-group" style="margin-top: 70px;">
					{% set class = ( "active" if not data.category else "" ) %}
					<a href="/blog" class="{{ class }} list-group-item">All Categories</a>
					{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
						<a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}



</section>




		</div>




#}

{% endblock %}
