{% extends "layouts/default.html" %}

{% block content %}

    <div class='mystory-page'>
    	<section class='section-hero'>
	<div class='content-container'>
            <div class='text-wrap'>
            <h1>I'm Ellen</h1>
            <p>I help millennials &amp; travellers leverage the internet so they can step into the life they desire, and create an income around it. </p>
            </div>
        </div>
	</section>

    <section class='story-inspiration'>
    <div class='content-container'>

    <h6>My inspiration for this travel life</h6>

    <div class='flex-container--space-between'>
    <div class='text-wrap'>
    <p>I grew up in a tiny town called Spaubeek, in the Netherlands. From a young age I always saw my grandpa looking through his World Atlas, he knew every country and its details by heart, just from sitting hours and hours in his chair studying. </p>
<p>When I turned 18 I felt the need to go see all the places for him, the places that I am sure he wish he had seen before he passed.</p>
    </div>
  <div class='text-wrap'>
<p>So with my Backpack, and his ashes with me I went around the world, and left a little piece of him everywhere. But I knew I couldn’t take him everywhere and I needed help. </p>
<p>That was the first moment of realisation where I thought.. what if I knew a lot of people that could help me on this journey.. what if I had influence in the world? </p>
   </div>
   </div>
   </div>
    </section>
    
    <section class='story-question'>
    <div class='content-container'>
        <h6><span class='primary-color'>One of the things I’m often asked is</span></h6>
        <h3>"How on earth do you manage to travel the world non-stop?"</h3>
        </div>
    </section>

    <section class='story-help'>
     <div class='content-container'>

<div class='story-box'>
    <h6>I’ve personally helped 150<br/>people over the last two years<br/>to step into the life they had<br/>been dreaming of.</h6>
    <p>And  I’ve been honored to see how with my help, they have<br/>transformed their lives. But if you’re looking for a success<br/>story, let me share mine…</p>
</div>
</div>
    </section>


    <section class='story-story'>
    <div class='content-container'>
                <h6>My story</h6>
            <div class='flex-container--space-between'>
        <div class='text-wrap'>

        <p>My goal was to make Mondays feel like Fridays, that’s what success meant to me. Living every day! Not just for the weekends.</p>
<p><strong>With zero experience I started looking for ways, ways to become successful. </strong></p>
<p>I started connecting with people that were living a different lifestyle, I started investing in myself, I started learning something new every single day. </p>
<p>While everyone thought I was just living on the beach, doing nothing with my life. </p>
<p><strong>Meanwhile, I was building my empire.</strong> </p>
</div>


  <div class='text-wrap'>
  <p>The first 3 months after starting my business I didnt make a penny, but how am I happy I didn’t give up on myself. Within One year after starting my business I had crossed 1 million dollars in sales.  </p>
  <p><strong>The girl that nobody thought was really going to get anywhere in life… </strong></p>
  <p>Since then I have spoken for universities, held my own masterminds around the world, had people fly out to come live with me for in-person mentorships and even taught a group of 100 millionaires how to create the life of their dreams. </p>
  </div>

</div>
</div>


    </section>

    <section class='story-goal'>
        <div class='content-container'>
        <div class='story-box'>
            <h6>My goal is simple</h6>
            <p>My goal is simple: to empower you to take your happiness into your own hands and help you recognize you are 100% worth it.</p>
<p>I feel so blessed that I’ve inspired people to sell everything they own, pack their bags and go after their dreams. </p>

        </div>
        </div>
    </section>


    <section class='story-relationship'>
        <div class='content-container'>
        <div class='flex-container--space-between'>
                <div class='text-wrap'>
        <p>If you’ve read this far, thank you. I hope this is just the beginning of our relationship. </p>
<p>In my blogs I’ll walk you through the fundamentals of turning your dreams into reality while living an exciting and meaningful life. </p>
<p><strong>Thank you so much for taking the time to visit. I’d love to learn more about you.</strong></p>
<p>I’m thrilled we’re connected and I’m excited for the journey ahead.</p>
<p>Cheers to having the freedom to create any future you want 🤙🙃</p>
<h4>XoXo Ellen</h4>
</div>
<img src='/images/relationship-portrait.png'>
        </div>
    </div>
    </section>
    
    </div>
{% endblock %}