.content-container {
	max-width: 1140px;
	border: 1px solid red;
	margin: 0 auto;
}

.flex-container {
	display: flex;

	&--space-between {
		@extend .flex-container;
		justify-content: space-between;
	}
}

.fixed-container {
	position: fixed;
	border: 14px solid blue;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Asap', sans-serif;

*/
