body {
  background-color: #fafafa; }

a {
  text-decoration: none;
  color: grey; }

.blog {
  display: flex;
  justify-content: space-between; }
  .blog .post {
    max-width: 40%;
    padding: 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.3); }
    .blog .post h2 {
      font-family: "Archivo", sans-serif;
      font-size: 1.6em;
      font-weight: 700;
      line-height: 1.2em; }
    .blog .post p {
      font-family: "Playfair Display", serif;
      font-size: 1em;
      line-height: 1.6em; }
    .blog .post img {
      width: 100%; }

.wrap {
  max-width: 960px;
  margin: 0 auto; }

article header {
  margin-bottom: 3em; }

article img {
  width: 100%; }

article h1 {
  font-family: "Archivo", sans-serif;
  font-size: 3em;
  font-weight: 700; }

article p {
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  line-height: 2em; }
  article p strong {
    font-family: "Archivo", sans-serif;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 2em; }
