.content-container {
	max-width: $breakpoint-desktop;
	margin: 0 auto;
}

.wide-content-container {
	max-width: $breakpoint-wide;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	width: 100%;

	&--wrap {
		@extend .flex-container;
		flex-wrap: wrap;
	}

	&--justify-center {
		@extend .flex-container;
		justify-content: center;
	}

	&--space-between {
		@extend .flex-container;
		justify-content: space-between;
	}

	&--align-bottom {
		@extend .flex-container;
		align-items: flex-end;
	}

	&--align-center {
		@extend .flex-container;
		align-items: center;
	}
}

.fixed-container {
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.primary-color {
	color: $primary;
}

.grid-65 {
	width: 65%;
}

.grid-35 {
	width: 35%;
}

.btn {
	@extend .f-size-small;
	font-family: $lato;
	font-weight: $bold;
	border: 3px solid $primary;
	color: $primary;
	text-transform: uppercase;
	padding: 10px 25px;
	transition: all 300ms ease-in-out;
	display: inline-block;
	text-align: center;

	&:hover {
		background-color: $primary;
		color: $white;
	}

	&--filled {
		@extend .btn;
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: $white;
			color: $primary;
			border-color: $white;
		}
	}
}

@media (max-width: $breakpoint-wide) {
	.wide-content-container {
		max-width: $breakpoint-desktop;
	}
}
