.content-container {
	max-width: $breakpoint-wide;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	width: 100%;

	&--space-between {
		@extend .flex-container;
		justify-content: space-between;
	}

	&--align-bottom {
		@extend .flex-container;
		align-items: flex-end;
	}
}

.fixed-container {
	position: fixed;
	width: $breakpoint-wide;
}
