// font stacks

@font-face {
	font-family: "Anaktoria";
	src: url("../fonts/Anaktoria.otf");
}

$raleway: "Raleway", sans-serif;
$lato: "Lato", sans-serif;
$anaktoria: "Anaktoria", "serif";

// font weights
$regular: 400;
$semi: 500;
$bold: 700;
$heavy: 900;

////////////////////
// SIZES - MOBILE //
////////////////////

$huge-mobile: pxToRem(71);
$large-mobile: pxToRem(55);
$bigger-mobile: pxToRem(39);
$big-mobile: pxToRem(33);
$medium-mobile: pxToRem(27);
$normal-mobile: pxToRem(21);
$small-mobile: pxToRem(14);
$little-mobile: pxToRem(12);

////////////////////
// SIZES - TABLET //
////////////////////

$huge-tablet: pxToRem(76);
$large-tablet: pxToRem(60);
$bigger-tablet: pxToRem(42);
$big-tablet: pxToRem(36);
$medium-tablet: pxToRem(30);
$normal-tablet: pxToRem(24);
$small-tablet: pxToRem(16);
$little-tablet: pxToRem(14);

//////////////////////
// SIZES - DESKTOP  //
//////////////////////

$huge-desktop: pxToRem(81);
$large-desktop: pxToRem(65);
$bigger-desktop: pxToRem(45);
$big-desktop: pxToRem(39);
$medium-desktop: pxToRem(33);
$normal-desktop: pxToRem(27);
$small-desktop: pxToRem(18);
$little-desktop: pxToRem(16);

///////////////////
// SIZES - WIDE  //
///////////////////

$huge-wide: pxToRem(86);
$large-wide: pxToRem(70);
$bigger-wide: pxToRem(48);
$big-wide: pxToRem(42);
$medium-wide: pxToRem(36);
$normal-wide: pxToRem(30);
$small-wide: pxToRem(20);
$little-wide: pxToRem(18);

.f-size-huge {
	line-height: 0.94em;
	font-size: $huge-mobile;

	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $huge-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $huge-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $huge-wide;
	}
}

.f-size-large {
	line-height: 1.06em;
	font-size: $large-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $large-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $large-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $large-wide;
	}
}

.f-size-bigger {
	line-height: 1em;
	font-size: $bigger-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $bigger-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $bigger-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $bigger-wide;
	}
}

.f-size-big {
	font-size: $big-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $big-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $big-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $big-wide;
	}
}

.f-size-medium {
	line-height: 1.11em;
	font-size: $medium-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $medium-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $medium-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $medium-wide;
	}
}

.f-size-normal {
	line-height: 1.14em;
	font-size: $normal-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $normal-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $normal-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $normal-wide;
	}
}

.f-size-small {
	line-height: 1.4em;
	font-size: $small-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $small-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $small-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $small-wide;
	}
}

.f-size-little {
	line-height: 1em;
	font-size: $little-mobile;
	@media screen and (min-width: $breakpoint-tablet) {
		font-size: $little-tablet;
	}
	@media screen and (min-width: $breakpoint-desktop) {
		font-size: $little-desktop;
	}
	@media screen and (min-width: $breakpoint-wide) {
		font-size: $little-wide;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	text-rendering: optimizelegibility;
	text-transform: uppercase;
	margin: 0;
	padding: 0;

	a,
	.a {
		text-decoration: none;
		transition: color 300ms ease-in-out;

		&:hover {
			color: $primary;
		}
	}
}

a,
.a {
	text-decoration: none;
	color: $text-color;
	transition: color 300ms ease-in-out;

	&:hover {
		color: $primary;
	}
}

h1,
.h1 {
	@extend .f-size-huge;
	font-family: $raleway;
	font-weight: $bold;
}

h2,
.h2 {
	@extend .f-size-large;
	font-family: $raleway;
	font-weight: $heavy;
}

h3,
.h3 {
	@extend .f-size-bigger;
	font-family: $raleway;
	font-weight: $bold;
}

h4,
.h4 {
	@extend .f-size-big;
}

h5,
.h5 {
	@extend .f-size-medium;
	font-family: $raleway;
	font-weight: $bold;
}

h6,
.h6 {
	@extend .f-size-normal;
	font-family: $raleway;
	font-weight: $bold;
}

/************
COPY
So the paragraphs are WAAAY more readible
only applies to paragraphs within WRAP
*************/

p,
.p {
	@extend .f-size-small;
	font-family: $lato;
	-ms-word-wrap: break-word;
	word-break: break-word; //non-standart css for webkit
	word-wrap: break-word;
	// cleaning up the ragged lines and breaks
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	// sets a minimum number of characters before and after the break
	-webkit-hyphenate-before: 2;
	-webkit-hyphenate-after: 3;
	hyphenate-lines: 3;
}
