$white: #fff;
$black: #000;
$primary: #38e4c0;
$background: #f9f9f9;

$text-color: $black;

$breakpoint-mobile: 479px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1139px;
$breakpoint-wide: 1599px;
