.section-cta {
	padding: 50px 0 0 0;

	p {
		@extend .f-size-little;
		margin: 10px 0 0 0;
	}

	.btn {
		padding: 15px 20px;
		margin: 0 0 0 40px;
	}
}

.cta-box {
	margin: 50px 0 0 0;
	padding: 200px 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 50%;
	color: white;

	.btn {
		margin: 20px 0 0 0;
		width: 190px;
	}

	&.community {
		text-align: right;
		background-image: url("../images/community.png");
	}

	&.mentorship {
		background-image: url("../images/mentorship.png");
	}
}
