.faq-page {
	.faq-quote {
		background-color: $black;
		color: $white;
		text-align: center;
		padding: 70px 0;
	}

	.faq-categories {
		margin: 0 0 90px 0;
		.category {
			margin: 0 25px 0 0;
			padding: 0 25px 0 0;
			cursor: pointer;
			border-right: 4px solid #e7e7e7;

			&:last-child {
				border: none;
			}

			&:hover {
				color: $primary;
			}

			&.active {
				color: $primary;
			}
		}
	}

	.questions {
		padding: 75px 0;
	}

	.faq-harmony {
		margin: 0 65px 0 0;
	}

	.faq-category {
		display: none;

		&.active {
			display: block;
		}
	}

	.single-question {
		border-bottom: 1px solid #e7e7e7;

		&:last-child {
			border: none;
		}

		&.active {
			.title-wrap {
				opacity: 1;

				p {
					font-weight: $bold;
				}
			}

			.text-wrap {
				display: block;
				padding-bottom: 50px;
			}
		}

		.title-wrap {
			opacity: 0.6;
			cursor: pointer;
		}

		.text-wrap {
			opacity: 0.6;
			display: none;

			ul {
				li {
					@extend .f-size-small;
					font-family: $lato;
				}
			}
		}
	}

	.post-box {
		width: 100%;
		height: auto;
	}
}
