.header {
	.content-container {
		margin: 32px auto;
	}
	&.scrolled {
		.fixed-container {
			background-color: black;
		}
	}
}

.h1 {
	&--logo {
		margin: 0;
	}
}

.nav {
	&__menu-list {
		margin: 0;
		padding: 0;
	}

	&__menu-item {
		display: inline-block;
		margin: 0 0 0 20px;
		padding: 0;

		&.active {
			.nav__menu-link {
				color: $primary;
			}
		}
	}

	&__menu-link {
		@extend .f-size-little;
		font-family: $raleway;
		font-weight: $semi;
		color: $white;
		text-transform: uppercase;
	}

	&__social-list {
		margin: 0 0 0 30px;
		padding: 0;
	}

	&__social-item {
		display: inline-block;
		margin: 0 0 0 10px;
		padding: 0;
	}

	&__social-img {
		max-width: 24px;
	}
}
