.mystory-page {
	background-color: $background;
	.story-inspiration {
		background-color: $black;
		color: $white;
		padding: 110px 0;

		.text-wrap {
			width: 46%;
		}
	}

	.title-wrap {
		text-align: center;
		margin-bottom: 30px;
	}

	.story-question {
		padding: 125px 0 150px 0;
		text-align: center;

		h6 {
			margin-bottom: 20px;
		}
	}

	.story-help {
		background-image: url("../images/help-background.png");
		padding: 110px 0 110px 0;
		background-size: cover;
		background-position: 70% 0%;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.story-box {
		background-color: $white;
		width: 550px;
		padding: 100px 70px;

		p {
			opacity: 0.6;
		}
	}

	.story-story {
		padding: 110px 0;
		.text-wrap {
			width: 46%;
		}
		p {
			opacity: 0.6;
		}
	}

	.story-goal {
		background-image: url("../images/goal-background.png");
		padding: 110px 0 110px 0;
		background-size: cover;
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;

		.story-box {
			margin: 0 0 0 auto;
		}
	}

	.story-relationship {
		padding: 110px 0;

		.text-wrap {
			padding: 20px 0 0 0;
			margin: 0 150px 0 0;
		}

		p {
			opacity: 0.6;
		}

		h4 {
			margin-top: 50px;
			font-family: $anaktoria;
			text-transform: capitalize;
			opacity: 0.6;
		}
	}
}
